#include<stdio.h>
#include<time.h>
void imprimecalendario(int mes,int anio);
int main()
{
	int m,i,repeat=0,mes2,anio2,total_mes,febrero;
	time_t sistime,dia,mes,anio;
	time(&sistime);
	struct tm *tiempo=localtime(&sistime);
	printf("hoy es: %d/%d/%d\n\n",tiempo->tm_mday,tiempo->tm_mon,tiempo->tm_year);
	dia=tiempo->tm_mday;
	mes=tiempo->tm_mon;
	anio=(tiempo->tm_year)+1900;
	if((anio%4==0)&&(anio%100!=0)||(anio%400)==0)
	{
		febrero=29; 
	}
	else
	{
		febrero=28;
	}
	switch(mes)
	{
		case 3: case 5: case 8: case 10:
		total_mes=30;
		break;
		case 0: case 2: case 4: case 6: case 7: case 9: case 11:
		total_mes=31;
		break;
		case 1:
		total_mes=febrero;
		break;
	}
	switch(mes)
	{
		case 0:printf("\t\tENERO\t%d",anio);break;
		case 1:printf("\t\tFEBRERO\t%d",anio);break;
		case 2:printf("\t\tMARZO\t%d",anio);break;
		case 3:printf("\t\tABRIL\t%d",anio);break;
		case 4:printf("\t\tMAYO\t%d",anio);break;
		case 5:printf("\t\tJUNIO\t%d",anio);break;
		case 6:printf("\t\tJULIO\t%d",anio);break;
		case 7:printf("\t\tAGOSTO\t%d",anio);break;
		case 8:printf("\t\tSEPTIEMBRE\t%d",anio);break;
		case 9:printf("\t\tOCTUBRE\t%d",anio);break;
		case 10:printf("\t\tNOVIEMBRE\t%d",anio);break;
		case 11:printf("\t\tDICIEMBRE\t%d",anio);break;
	}
	int semana=((anio-1)%7+((anio-1)/4-(3*((anio-1)/100+1)/4))%7+(mes+1)%7)%7;
	printf("\nDo\tLu\tMar\tMier\tJue\tVier\tSab\n");
	for(m=0;m<semana;m++)
	{
		printf("\t");
	}
	for(i=1; i<=total_mes;i++)
	{
		if (i==8-semana||i==15-semana||i==22-semana||i==29-semana||i==36-semana)
		{
			printf("\n%d\t",i);
		}
		else
		{
			printf("%d\t",i);
		}
	}
	printf("\n\n Quieres buscar otra fecha?");
	printf("\n1=SI\t0=NO --> ");
	scanf("%d",&repeat);
	fflush(stdin);
	if (repeat==1)
	{
		printf("\n\nINGRESA MES -->");
		scanf("%i",&mes2);
		printf("\nINGRESA AÑO -->");
		scanf("%i",&anio2);
		imprimecalendario(mes2,anio2);
	}
	puts("\n\n");
	return 0;
}
void imprimecalendario(int mes,int anio)
{
	int m,i,total_mes,febrero;
	mes=mes-1;
	if((anio%4==0)&&(anio%100!=0)||(anio%400)==0)
	{
		febrero=29;
	}
	else
	{
		febrero=28;
	}
	switch(mes)
	{
		case 3: case 5: case 8: case 10:
			total_mes=30;
		break;
		case 0: case 2: case 4: case 6: case 7: case 9: case 11:
			total_mes=31;
		break;
		case 1:
			total_mes=febrero;
		break;
	}
	switch(mes)
	{
		case 0:printf("\t\tENERO\t%d",anio);break;
		case 1:printf("\t\tFEBRERO\t%d",anio);break;
		case 2:printf("\t\tMARZO\t%d",anio);break;
		case 3:printf("\t\tABRIL\t%d",anio);break;
		case 4:printf("\t\tMAYO\t%d",anio);break;
		case 5:printf("\t\tJUNIO\t%d",anio);break;
		case 6:printf("\t\tJULIO\t%d",anio);break;
		case 7:printf("\t\tAGOSTO\t%d",anio);break;
		case 8:printf("\t\tSEPTIEMBRE\t%d",anio);break;
		case 9:printf("\t\tOCTUBRE\t%d",anio);break;
		case 10:printf("\t\tNOVIEMBRE\t%d",anio);break;
		case 11:printf("\t\tDICIEMBRE\t%d",anio);break;
	}
	int semana=((anio-1)%7+((anio-1)/4-(3*((anio-1)/100+1)/4))%7+(mes+1)%7)%7;
	printf("\nDo\tLu\tMar\tMier\tJue\tVier\tSab\n");
	for(m=0;m<semana;m++)
	{
		printf("\t");
	}
	for(i=1; i<=total_mes;i++)
	{
		if (i==8-semana||i==15-semana||i==22-semana||i==29-semana||i==36-semana)
		{
			printf("\n%d\t",i);
		}
		else
		{
			printf("%d\t",i);
		}
	}
}
